/**
 * @name Catppuccin Mocha
 * @author winston#0001
 * @authorId 505490445468696576
 * @version 0.2.0
 * @description 🎮 Soothing pastel theme for Discord
 * @website https://github.com/catppuccin/discord
 * @invite r6Mdz5dpFc
**/

@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-lavender.theme.css");
:root {
--Chat-Font-Used: 'Iosevka Nerd Font', Eng ;
--Chat-Font-Size: 8px;
}
:not([class="hljs"]):not(code){
font-family: var(--Chat-Font-Used)!important;
}

.markup:not(code) {
font-size: var(--Chat-Font-Size)!important;
}
