[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mick/Desktop/Runelite.desktop]
row=2
col=26

[SAMSUNG Android]
row=4
col=0

[069E-9A5F]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/mick]
row=3
col=0

